version: "3.3"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src/:/usr/src/app/
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    env_file:
      - .env

    environment:
      - API_REDIS_HOST=redis
    restart: always
    depends_on:
      - db
    networks:
      - my-net

  db:
    image: postgres:12.1-alpine

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - my-net

  redis-cache:
    image: redis:alpine
    hostname: redis-cache
    container_name: redis-cache
    restart: on-failure
    ports:
      - '6379:6379'
    command: redis-server
    volumes:
      - cache:/data
    networks:
      - my-net
volumes:
  db:
    driver: local

  cache:
    driver: local

networks:
  my-net:
    driver: bridge

