version: "3.3"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src/:/usr/src/app/
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432

  redis:
    image: redis:latest
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}

  postgres:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_test:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER_TEST}
      - POSTGRES_PASSWORD=${DB_PASS_TEST}
      - POSTGRES_DB=${DB_NAME_TEST}
    ports:
      - 6000:6000

  test:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - ./src/:/usr/src/app/
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
  redis_data:
  postgres_data_test:
